*#
*.log
*.plt
*~
.#*
.*DS_Store
.DS_Store
.erlang.mk
.erlang.mk.*
.eunit
.fuse_hidden*
/*.d
/makefile.bak
_rel
cover
db
deps
ebin/*.beam
ebin/test
elvis
elvis.config
erl_crash.dump
logs
node_modules
package-lock.json
package.json
relx
xrefr
