{deps, [
{backoff,".*",{git,"https://github.com/ferd/backoff","1.1.6"}},{envy,".*",{git,"../../envy","0.9.0"}},{phrase,".*",{git,"../../phrase","0.2.0"}},{recon,".*",{git,"https://github.com/ferd/recon","master"}},{telemetry,".*",{git,"https://github.com/beam-telemetry/telemetry.git","v1.1.0"}}
]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard]}.
