{deps, [
{envy,".*",{git,"https://github.com/shortishly/envy.git","0.7.2"}},{phrase,".*",{git,"https://github.com/shortishly/phrase.git","0.1.0"}},{recon,".*",{git,"https://github.com/ferd/recon","master"}},{telemetry,".*",{git,"https://github.com/beam-telemetry/telemetry.git","v1.1.0"}}
]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard]}.
