---
on:
  push:
    branches:
      - main
      - develop
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp:
          - 25
          - 26
        pg:
          - postgres:14
          - postgres:15
          - postgres:16
          - postgis/postgis:15-3.3
        ssl:
          - on
          - off
    steps:
      - uses: actions/checkout@v4
      - run: >-
          docker-compose
          --file etc/github-ci/compose.yaml
          --project-directory etc/github-ci
          up
          --detach
        env:
          POSTGRES_IMAGE: ${{matrix.pg}}
          POSTGRES_SSL: ${{matrix.ssl}}
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
      - run: make all dialyze eunit
      - run: make ct
        env:
          PGMP_PGMP_REPLICATION_ENABLED: false
          PGMP_DATABASE_USER: postgres
          PGMP_DATABASE_NAME: postgres
          PGMP_DATABASE_PASSWORD: postgres
      - run: |
          echo MATRIX_OTP="${{matrix.otp}}" >> $GITHUB_ENV
      - run: |
          echo MATRIX_PG="${{matrix.pg}}" >> $GITHUB_ENV
      - run: |
          echo MATRIX_SSL="${{matrix.ssl}}" >> $GITHUB_ENV
      - run: |
          echo ARTIFACT_NAME="ct-logs-otp-${MATRIX_OTP}-ssl-${MATRIX_SSL}-pg-${MATRIX_PG//[:\/]/-}" >> $GITHUB_ENV
      - uses: actions/upload-artifact@v3
        with:
          name: ${{env.ARTIFACT_NAME}}
          path: _site/ct
  site:
    needs: build
    strategy:
      matrix:
        otp:
          - 26
        pg:
          - postgres:15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: >-
          docker-compose
          --file etc/github-ci/compose.yaml
          --project-directory etc/github-ci
          up
          --detach
        env:
          POSTGRES_IMAGE: ${{matrix.pg}}
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
      - run: make eunit ct
        env:
          PGMP_PGMP_REPLICATION_ENABLED: false
          PGMP_DATABASE_USER: postgres
          PGMP_DATABASE_NAME: postgres
          PGMP_DATABASE_PASSWORD: postgres
      - run: make edoc
      - run: make cover-report
      - uses: shortishly/coverdata@main
        with:
          input: _site/cover
          output: _site/cover/coverage.json
          otp-version: ${{matrix.otp}}
      - uses: actions/upload-pages-artifact@v2
        with:
          path: _site
  deploy:
    needs: site
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@v2
